.statistica{
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif; /* 8-bit style font */
    color: #000000;
    line-height: 1.5;
}

.statistica h1{
    color: red;
    text-align: center;
    font-size: calc(25px + 1vw);
}

.statistica h2, h3{
    text-align: center;
}

.statistica h2{
    font-size: calc(15px + 1vw);
}

.statistica h3{
    font-size: calc(12px + 1vw);
}

.nazioni{
    background-color: #d9d2ca;
    font-weight: bold;
}

.table_titoli{
    background-color: #7d8088;
    color: white;
}

.tassi{
    font-weight: bold;
    background-color: rgb(247, 82, 82);
    color: white;
    text-align: center;
    width: 50%;
}

.table_statistica td{
    text-align: center;
    font-size: calc(15px + 0.3vw);
}

.statistiche_testi h2{
    color: red;
    font-size: calc(17px + 1vw);
}

.statistiche_testi h3{
    color: green;
    font-size: calc(16px + 1vw);
}

.statistiche_testi p{
    font-size: calc(13px + 0.3vw);
}

.statistiche_testi hr{
    border: 1px solid #444c64;
}

.fonte_statistiche p{
    text-align: center;
}

.fonte_statistiche a{
    color: white;
    text-decoration: none;
    line-height: 2;
}

.fonte_statistiche a:hover{
    color: yellow;
    text-decoration: underline;
}

.fonte_statistiche{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #445454;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
}

@media (min-width: 1024.5px){

.table_statistica{
    margin: 0 auto;
    margin-block: 3%;
    width: 70%;
}

.bandiere{
    width: 40px;
    height: 35px;
    border-radius: 50%;
    float: left;
}

.table_statistica td{
    width: 30%;
    padding: 2%;
}

.statistiche_testi{
    padding-inline: 15%;
}

}

@media (max-width: 1024px){

.table_statistica{
    margin: 0 auto;
    margin-block: 3%;
    width: 80%;
}

.bandiere{
    width: 25px;
    height: 15px;
    border-radius: 50%;
    float: left;
}

.fonte_statistiche{
    margin-inline: 2%;
    width: auto;
    font-size: calc(12px + 0.3vw);
}

.table_statistica td{
    padding: 2%;
}

}

@media (max-width: 767.5px){

.bandiere{
    width: 25px;
    height: 15px;
}

.table_statistica{
    margin-block: 10%;
    margin-inline: 2%;
    width: auto;
}

.table_statistica td{
    font-size: calc(12px + 0.3vw);
}

.nazioni{
    padding-top: 5%;
    letter-spacing: 1px
}

.statistiche_testi{
    padding-inline: 5%;
}

}

@media (max-width: 480.5px){

.bandiere{
    width: 0;
}

.nazioni{
    padding-top: 5%;
    letter-spacing: 1px
}

.table_statistica td{
    font-size: calc(10px + 0.3vw);
}

}
